
    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    fbody {
	padding-bottom: 50px;
	color: #5a5a5a;
	text-align:center;
    }
	
	#superwrapper {
	margin: 0 auto;
	max-width: 1280px; 
	text-align:left;
	}



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

 .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

	.navbar-wrapper{
			margin-right:0px;
			margin-bottom: 20x;
		}

	
    .navbar .navbar-inner {
      border: 0;
    }

    .navbar .brand {
      padding: 14px 20px 16px;
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);  
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .1s linear;
     -moz-transition: all .1s linear;
          transition: all .1s linear;
	  
    }
    .navbar .nav > li > a {
      padding: 15px 20px;
    }
	
    .navbar .btn-navbar {
      margin-top: 10px;
    }
	
	   /* CUSTOMIZE THE HEADER
    -------------------------------------------------- */
	
	.jumbotron{
		margin-top:-80px;
		height: 50px;
		background-color:#F00;
		text-align:center;
		
		
	}
	
	.jumbotron h1{
		color:#FFF;
		font-size:180px;
		text-shadow: 0 1px 1px rgba(0,0,0,.4);
	}
	
	.jumbotron p{
		color:#FFF
	}
		  #lettering{
		  margin-top:-100px;
		  text-align:center;
    }
	#lettering h1{
		font-size:180px;
	}

		
		    /* Customize the sidebar
    -------------------------------------------------- */
	
	.bs-docs-sidenav{
		 position:fixed;
		 margin-left: 75px;
		 width: auto;
		 margin-right:10px;
	}
	
	.span9{
		margin-left:50px;
		padding-right:450px;
	}
	
	.navibar .nav-header{
		margin-left: 0px;
		color:#F00;
	}
	
	.bs-docs-separator {
		height:1px;
		
background-image: linear-gradient(left bottom, rgb(46,46,46) 36%, rgb(97,97,97) 61%, rgb(168,168,168) 98%);
background-image: -o-linear-gradient(left bottom, rgb(46,46,46) 36%, rgb(97,97,97) 61%, rgb(168,168,168) 98%);
background-image: -moz-linear-gradient(left bottom, rgb(46,46,46) 36%, rgb(97,97,97) 61%, rgb(168,168,168) 98%);
background-image: -webkit-linear-gradient(left bottom, rgb(46,46,46) 36%, rgb(97,97,97) 61%, rgb(168,168,168) 98%);
background-image: -ms-linear-gradient(left bottom, rgb(46,46,46) 36%, rgb(97,97,97) 61%, rgb(168,168,168) 98%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	right top,
	color-stop(0.36, rgb(46,46,46)),
	color-stop(0.61, rgb(97,97,97)),
	color-stop(0.98, rgb(168,168,168))
);
	

	
	}
	
	


    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {
		
		.navbar{
			
			margin-right:0px;
			margin-bottom:-5px;
		}
		.navbar .btn{
			margin-top: 6px;}

	   footer{
		  padding-top: 85px;
	  }
	  #lettering{
		  margin-top:-100px;
		  text-align:center;
		  margin-left:33px;
    }
	#lettering h1{
		font-size:120px;
		margin-left:-67px;
	}

	.span9{
		text-align:left;
		margin-left: 45px;
	}
		.jumbotron{
		margin-top:0px;
		}
		
		#tabnavibar{
		text-align:center;
		margin-left:-60px;
		color: #0099FF;
		}
		
		 .container {
		margin-left:auto;
		

    }
		#superwrapper {
	margin: 0 auto;
	max-width: 768px; 
	text-align:left;
}


	}

    @media (max-width: 767px) {
		
	
	
	
.navbar-wrapper{
			margin-right:0px;
			padding-bottom:0;
			margin-bottom:20;
}
		.navbar .btn{
			margin-top: 13px;
			}
	  
	  .span9{
		  
		 margin-left: 10px;
		 max-width: 310px;
		
	  }
	  
	   .span9 h1{
		  font-size: 20px;
	  }
	  
	  .span9 h2 {
		  font-size: 16px;
	  }
	  
	  .span9 h3 {
		  font-size: 14px;
	  }
	  
	  .span9 h4{
		  font-size: 12px;
	  }
	
	 #body {
	text-align:left;
	 }
}




	 
	}